// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --color-azul: #0b3a6a;
  --color-fondo: #ffffff;
  --color-blanco: #ffffff;
  --color-texto: #111827;
  --color-placeholder: #6b7280;
  --color-shadowcard: rgba(0, 0, 0, 0.2);
}
